OPEN_ROUTER_KEY="enter your open router key"
ELEVENLABS_API_KEY="enter your elevenlabs api key"
ASSEMBLY_API_KEY="enter your assemblyai api key"
META_ACCESS_TOKEN="enter your Meta access token"
META_INSTAGRAM_ACCOUNT_ID="enter your Instagram account ID"
PUBLIC_URL="https://your-public-server-url"